<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/indexStyles.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="indexTitle">MTG Singles DFE</h1>
    <div class="services">
        <div class="servicesTitle">
            <h2>¡Material Sellado!</h2>
            <p>Accedé a los mejores precons de Commander para comenzar a jugar YA con tus amigos.</p>
        </div>
        <div class="servicesTitle">
            <h2>¡Vendemos singles!</h2>
            <p>Armá o completá tu deck con nuestro amplio stock de singles para todos los formatos.</p>
        </div>
    </div>
    <main>
        <div class="plains">
            <div class="sectionContainer">
                <h3 class="indexTitle">Novedades</h3>
                <div class="container">
                    <% let newCount = 0 %>
                    <% for( let i = 0; i < cards.length; i++ ) { %>
                        <% if (cards[i].new == 1 && newCount < 3) { %>
                            <% newCount++ %>
                            <img class="img1" src="<%= cards[i].front_img %>"/>
                        <% } %>
                    <% } %>
                </div>
                <button class="indexButton">Ver mas</button>
            </div>
        </div>
        <div class="mountain">
            <div class="sectionContainer">
                <h3 class="indexTitle">Destacados</h3>
                <div class="container">
                    <% let featuredCount = 0 %>
                    <% for( let i = 0; i < cards.length; i++ ) { %>
                        <% if (cards[i].featured == 1 && featuredCount < 3) { %>
                            <% featuredCount++ %>
                            <img class="img1" src="<%= cards[i].front_img %>"/>
                        <% } %>
                    <% } %>
                </div>
                <button class="indexButton">Ver mas</button>
            </div>
        </div>
        <div class="swamp">
            <div class="sectionContainer">
                <h3 class="indexTitle">Ofertas</h3>
                <div class="container">
                    <% let onSaleCount = 0 %>
                    <% for( let i = 0; i < cards.length; i++ ) { %>
                        <% if (cards[i].on_sale == 1 && onSaleCount < 3) { %>
                            <% onSaleCount++ %>
                            <img class="img1" src="<%= cards[i].front_img %>"/>
                        <% } %>
                    <% } %>
                </div>
                <button class="indexButton">Ver mas</button>
            </div>
        </div>
    </main>
    <section>
        <div class="payment">
            <h4>Soy un método de pago</h4>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>