<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css" defer>
    <!-- scripts -->
    <script src="/js/detail.js" defer></script>
    <title><%= cards.title %> - MTG DFE</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1 class="cardTitle"><%= cards.title %></h1>
        <div class="cardContainer">
            <p class="cardPrice">$<span class="cardPriceSpan"><%= cards.price %></span></p>
            <div class="cardInfoContainer">
                <div class="cardInfoContainerImg">
                    <img class="cardImg" src="<%= cards.front_img %>" alt="Carta Magic"/>
                </div>
                <div class="cardInfoContainerText">
                    <div class="quantityContainer">
                        <button class="quantityMore">+</button>
                        <label class="quantityLabel" for="quantity" id="quantity"></label>
                        <input class="quantity" type="text" name="quantity" id="quantity" value='1' readonly>
                        <button class="quantityLess">-</button>
                    </div>
                    <button class="addToCart buttonMobile">Agregar al carrito</button>
                    <p class="cardInfo">Disponible: <span class="stock"><%= cards.stock %></span> unidades</p>
                    <p class="cardInfo">Cast: <span><%= cards.cost %></span></p>
                    <p class="cardInfo">Efecto: <i>"<%= cards.effect %>"</i></p>
                    <button class="addToCart buttonDesktop">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>